# configs/datasets/mvtec.yaml

name: mvtec
categories:
  - bottle
  - cable
  - capsule
  - carpet
  - grid
  - hazelnut
  - leather
  - metal_nut
  - pill
  - screw
  - tile
  - toothbrush
  - transistor
  - wood
  - zipper

image_size: 256
normalization:
  mean: [0.485, 0.456, 0.406]
  std: [0.229, 0.224, 0.225]

train_split: train/good
test_split: test
mask_split: ground_truth